# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env
.env.*

# ==========================
# Data
# ==========================
backend/data/*.csv

# Logs
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# Windows
Thumbs.db

# ==========================
# React / Node (for Day 4)
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Python Build Files
# ==========================
build/
dist/
*.egg-info/